body {
    margin: 0px;
    overflow: hidden;
}

.stripe {
    height: 100vh;
}

li {
    list-style: none;
}

.menu {
    position: fixed;
    right: 0px;
    width: 100px;
    height: 100vh;
}

.page {
    background-image: url('');
    background-size: cover;
}

.header {
    background-color: lightblue;
}

.card {
    background-color: white;
    height: 160px;
    width: 160px;
    float: left;
    margin: 5px;
    cursor: pointer;
}

.card img {
    width:160px;
    height: 160px;
    position: absolute;
}

.card.upside img {
    width:160px;
    height: 160px;
    position: absolute;
}

.upside .backImg {
    display: none;
}

#modal-wrapper {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 123;
}

.myModal {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 200px;
    min-height: 100px;;

}